In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
transportation = pd.read_csv('/home/celinaha/ml_group21/data/extended/transportation.csv')

General info:

In [3]:
transportation.head()

,rm_id,product_id,purchase_order_id,purchase_order_item_no,receival_item_no,batch_id,transporter_name,vehicle_no,unit_status,vehicle_start_weight,...,net_weight,wood,ironbands,plastic,water,ice,other,chips,packaging,cardboard
0,365.0,91900143.0,208545.0,10.0,1,NaN,Transporter0,Vehicle0,Transferred,40040.0,...,11420.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,365.0,91900143.0,208545.0,10.0,2,NaN,Transporter0,Vehicle0,Transferred,40040.0,...,13760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,365.0,91900143.0,208490.0,10.0,1,NaN,Transporter1,Vehicle1,Transferred,39940.0,...,11281.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,365.0,91900143.0,208490.0,10.0,2,NaN,Transporter1,Vehicle1,Transferred,39940.0,...,13083.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,379.0,91900296.0,210435.0,20.0,1,NaN,Transporter2,Vehicle2,Transferred,39360.0,...,23910.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
transportation.shape

(122590, 23)

In [5]:
transportation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122590 entries, 0 to 122589
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   rm_id                   122533 non-null  float64
 1   product_id              122533 non-null  float64
 2   purchase_order_id       122537 non-null  float64
 3   purchase_order_item_no  122537 non-null  float64
 4   receival_item_no        122590 non-null  int64
 5   batch_id                64765 non-null   float64
 6   transporter_name        122590 non-null  object
 7   vehicle_no              122590 non-null  object
 8   unit_status             122582 non-null  object
 9   vehicle_start_weight    122570 non-null  float64
 10  vehicle_end_weight      122531 non-null  float64
 11  gross_weight            122528 non-null  float64
 12  tare_weight             108049 non-null  float64
 13  net_weight              122522 non-null  float64
 14  wood                    25277 non-null   float64
 15  ironbands               11088 non-null   float64
 16  plastic                 16017 non-null   float64
 17  water                   7798 non-null    float64
 18  ice                     7794 non-null    float64
 19  other                   8397 non-null    float64
 20  chips                   7789 non-null    float64
 21  packaging               7851 non-null    float64
 22  cardboard               7833 non-null    float64
dtypes: float64(19), int64(1), object(3)
memory usage: 21.5+ MB

* Negative values:

In [18]:
(transportation.select_dtypes(include=['number'])<0).any()

rm_id                     False
product_id                False
purchase_order_id         False
purchase_order_item_no    False
receival_item_no          False
batch_id                  False
vehicle_start_weight      False
vehicle_end_weight        False
gross_weight              False
tare_weight               False
net_weight                False
wood                      False
ironbands                 False
plastic                   False
water                     False
ice                       False
other                      True
chips                     False
packaging                  True
cardboard                 False
dtype: bool

In [19]:
transportation.nunique()

rm_id                       203
product_id                   54
purchase_order_id          7173
purchase_order_item_no       92
receival_item_no             15
batch_id                  64765
transporter_name             25
vehicle_no                17029
unit_status                   5
vehicle_start_weight       2204
vehicle_end_weight         2281
gross_weight               7718
tare_weight                 881
net_weight                14824
wood                        404
ironbands                   138
plastic                     103
water                        12
ice                           7
other                       290
chips                         4
packaging                    60
cardboard                    33
dtype: int64

In [20]:
transportation.isna().sum()

rm_id                         57
product_id                    57
purchase_order_id             53
purchase_order_item_no        53
receival_item_no               0
batch_id                   57825
transporter_name               0
vehicle_no                     0
unit_status                    8
vehicle_start_weight          20
vehicle_end_weight            59
gross_weight                  62
tare_weight                14541
net_weight                    68
wood                       97313
ironbands                 111502
plastic                   106573
water                     114792
ice                       114796
other                     114193
chips                     114801
packaging                 114739
cardboard                 114757
dtype: int64

In [21]:
transportation.isna().sum()/transportation.shape[0]*100

rm_id                      0.046496
product_id                 0.046496
purchase_order_id          0.043234
purchase_order_item_no     0.043234
receival_item_no           0.000000
batch_id                  47.169427
transporter_name           0.000000
vehicle_no                 0.000000
unit_status                0.006526
vehicle_start_weight       0.016315
vehicle_end_weight         0.048128
gross_weight               0.050575
tare_weight               11.861490
net_weight                 0.055469
wood                      79.380863
ironbands                 90.955217
plastic                   86.934497
water                     93.638959
ice                       93.642222
other                     93.150339
chips                     93.646301
packaging                 93.595726
cardboard                 93.610409
dtype: float64

In [22]:
transportation.duplicated().sum()

np.int64(20)

*************************************************************************************************************************************************

Changing datatypes:

In [ ]:
for i in transportation.columns:
    if i.endswith("_id") or i.endswith("_no") or i.endswith('_name'):
        transportation[i] = transportation[i].astype('string')

In [29]:
transportation['unit_status'] = transportation['unit_status'].astype('string')

In [30]:
transportation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122590 entries, 0 to 122589
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   rm_id                   122533 non-null  string
 1   product_id              122533 non-null  string
 2   purchase_order_id       122537 non-null  string
 3   purchase_order_item_no  122537 non-null  string
 4   receival_item_no        122590 non-null  string
 5   batch_id                64765 non-null   string
 6   transporter_name        122590 non-null  string
 7   vehicle_no              122590 non-null  string
 8   unit_status             122582 non-null  string
 9   vehicle_start_weight    122570 non-null  float64
 10  vehicle_end_weight      122531 non-null  float64
 11  gross_weight            122528 non-null  float64
 12  tare_weight             108049 non-null  float64
 13  net_weight              122522 non-null  float64
 14  wood                    25277 non-null   float64
 15  ironbands               11088 non-null   float64
 16  plastic                 16017 non-null   float64
 17  water                   7798 non-null    float64
 18  ice                     7794 non-null    float64
 19  other                   8397 non-null    float64
 20  chips                   7789 non-null    float64
 21  packaging               7851 non-null    float64
 22  cardboard               7833 non-null    float64
dtypes: float64(14), string(9)
memory usage: 21.5 MB

In [31]:
transportation.describe(include='string').T

                         count unique           top    freq
rm_id                   122533    203        2130.0   23621
product_id              122533     54    91900143.0   62537
purchase_order_id       122537   7173      300251.0     977
purchase_order_item_no  122537     92          10.0   38277
receival_item_no        122590     15             1   87211
batch_id                 64765  64765       43903.0       1
transporter_name        122590     25  Transporter8  105539
vehicle_no              122590  17029    Vehicle120    5368
unit_status             122582      5   Transferred  122314

In [32]:
transportation.describe().T

,count,mean,std,min,25%,50%,75%,max
vehicle_start_weight,122570.0,34572.734560,5733.326173,698.0,30460.0,35560.0,39720.0,60720.0
vehicle_end_weight,122531.0,16266.481641,3566.895630,0.0,14860.0,15560.0,16380.0,42920.0
gross_weight,122528.0,13043.799940,8286.073607,0.0,5700.0,12460.0,21240.0,31960.0
tare_weight,108049.0,79.928764,398.047442,0.0,0.0,0.0,90.0,25060.0
net_weight,122522.0,12972.566543,8264.652621,0.0,5660.0,12380.0,21120.0,31626.0
wood,25277.0,160.157297,169.625259,0.0,48.0,96.0,222.0,3300.0
ironbands,11088.0,19.975740,32.982464,0.0,0.0,0.0,40.0,1336.0
plastic,16017.0,9.758194,13.824016,0.0,0.0,4.0,16.0,250.0
water,7798.0,0.118364,4.758739,0.0,0.0,0.0,0.0,340.0
ice,7794.0,0.135232,8.174077,0.0,0.0,0.0,0.0,700.0
other,8397.0,1.114803,221.715282,-640.0,0.0,0.0,0.0,19120.0
chips,7789.0,0.093722,2.162848,0.0,0.0,0.0,0.0,60.0
packaging,7851.0,2.582983,7.715768,-84.0,0.0,0.0,0.0,160.0
cardboard,7833.0,1.005490,22.628034,0.0,0.0,0.0,0.0,850.0